
BETTER_AUTH_SECRET=
NEXT_PUBLIC_DEPLOYMENT_URL=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
NODE_ENV="development"

TRIGGER_SECRET_KEY=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=


SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=

RESEND_API_KEY=

POSTGRES_PRISMA_URL="postgres://postgres:postgres@localhost:5432/resipsa"
POSTGRES_URL_NON_POOLING="postgresql://postgres:postgres@localhost:5432/resipsa"

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SIGNING_SECRET=


SCREENSHOT_API_KEY=

USE_TEST_PROVIDERS="true"

